<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>KanenOnlineShopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
<listener-class>
com.oocl.mnlbc.group3.listener.OnlineCounterListener  
</listener-class>
</listener>
  
<session-config>
<session-timeout>1</session-timeout>
</session-config>
  <servlet>
    <description></description>
    <display-name>CaptchaServlet</display-name>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>com.oocl.mnlbc.group3.controllers.CaptchaServlet</servlet-class>
    <init-param>
      <description>description1</description>
      <param-name>name1</param-name>
      <param-value>value1</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/safe.jpg</url-pattern>
  </servlet-mapping>
  
  <filter>
		<display-name>BannedUsersFilter</display-name>
		<filter-name>BannedUsersFilter</filter-name>
		<filter-class>com.oocl.mnlbc.group3.filters.BannedUsersFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BannedUsersFilter</filter-name>
		<url-pattern>/user</url-pattern>
	</filter-mapping>
</web-app>