form {
	align:center;
}
header {
	display: block;
	padding: 20px 30px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	background: rgba(248, 248, 248, .9);
	font-size: 25px;
	font-weight: 300;
	color: #232323;
	align: center;
}

div {
	line-height: 30px;
	height: 590px;
	width: 387px;
	align: center;
	padding: 5px;
	text-align: left;
	border-radius: 2px;
	border: 2px solid #C4C4C4;
	font-family: "Arial";

}