<div class="container">
<h1> Homework 1 AngularJS </h1>
<input type="text" placeholder="Search a user" ng-model="searchUser"><br>
<button ng-click="search(searchUser)">Search</button><br><br>

<table class="table table-bordered table-striped">
<thead>
	<tr>
	<td>Name</td>
	<td>Email</td>
	<td>Phone</td>
	</tr>
</thead>
<tbody>
	<tr ng-repeat = "user in users | filter:criteria" ng-dblclick="displayUser(user)">
	<td>{{user.name}}</td>
	<td>{{user.email}}</td>
	<td>{{user.phone}}</td>
	</tr>
</tbody>
</table>
</div>